<h1 class="text-4xl font-bold mb-8">{{ .Title }}</h1>

<!-- 书籍列表/内容区域 -->
<div class="p-6 pb-16">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{ range .Pages }}
        <div class="card bg-base-100 shadow-xl">
            {{ with .Params.cover }}
            <figure><img src="{{ . }}" alt="{{ $.Title }}" /></figure>
            {{ end }}
            <div class="card-body">
                <h2 class="card-title">{{ .Title }}</h2>
                {{ with .Description }}
                <p>{{ . }}</p>
                {{ end }}
                <div class="card-actions justify-end">
                    <a href="{{ .RelPermalink }}" class="btn btn-neutral">开始阅读</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>