{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="flex space-x-2">
    {{/*  <div>{{ $label }}:</div>  */}}
    <div class="space-x-1">
      {{- range . }}
      <div class="badge badge-ghost p-4"><a style="text-decoration-line:none" class="text-base" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
    {{- end }}  
    </div>

  </div>
{{- end }}
